In [82]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

In [83]:
import thinkplot
import thinkstats2
import pandas as pd
import numpy as np
import seaborn as sns

## Quiz 1

Use this file as a starting point for your work. You are free to add/import any other libaries that you may want, though you shouldn't need much more, if anything. 

There are multiple approaches to solve each of the challenges. It is probably easiest to create a function that calculates a generic version of a solution, then takes in arguments for which data to use. There is an example of one of the functions I used to make a solution below. 

Please push you finished work into a repository on your github and paste the link in the final question. The responses on Moodle are what is graded, but your code will be glanced at to ensure you actually did the work and didn't do the calculations somewhere else.

### Example Function

In [84]:
# Here is the framework of my function for the first set of challenges

#def rangeMag(df_in, columnName):
# ...SOME CODE THAT CALCULATES STUFF...
#    return retVal

# When calling the function to use the code, it would look like this...

# Nodeg
#print(rangeMag(df, "Nodeg"))
# Earnings_1974
#print(rangeMag(df, "Earnings_1974"))
# Earnings_1975
#print(rangeMag(df, "Earnings_1975"))
# Earnings_1978
#print(rangeMag(df, "Earnings_1978"))

### Load Some Data

In [85]:
df = pd.read_csv("LabourTrainingEvaluationData.csv")
df.head()

,Age,Eduacation,Race,Hisp,MaritalStatus,Nodeg,Earnings_1974,Earnings_1975,Earnings_1978
0,45,LessThanHighSchool,NotBlack,NotHispanic,Married,1,21516.670,25243.550,25564.670
1,21,Intermediate,NotBlack,NotHispanic,NotMarried,0,3175.971,5852.565,13496.080
2,38,HighSchool,NotBlack,NotHispanic,Married,0,23039.020,25130.760,25564.670
3,48,LessThanHighSchool,NotBlack,NotHispanic,Married,1,24994.370,25243.550,25564.670
4,18,LessThanHighSchool,NotBlack,NotHispanic,Married,1,1669.295,10727.610,9860.869

### Challenge 1 - Magnitude of Range

In [86]:
# Magnitude of Range for Nondeg
dfnd=df["Nodeg"]
print("Nondeg Range: ", str(np.min(dfnd)), str(np.max(dfnd)) )
ndm=np.min(dfnd)
ndx=np.max(dfnd)
ndd=ndx-ndm
print("Magnitude of range for Nondeg ; ",ndd )

# Magnitude of Range for Earnings_1974

df74=df[ "Earnings_1974"]
print("Earning_1974 Range: ", str(np.min(df74)), str(np.max(df74)) )
e74m=np.min(df74)
e74x=np.max(df74)
e74d=e74x-e74m
print("Magnitude of range for Earning in 1974 ; ",e74d )


# Magnitude of Range for Earnings_1975

df75=df[ "Earnings_1975"]
print("Earning_1975 Range: ", str(np.min(df75)), str(np.max(df75)) )
e75m=np.min(df75)
e75x=np.max(df75)
e75d=e75x-e75m
print("Magnitude of range for Earning in 1975 ; ",e75d )

# Magnitude of Range for Earnings_1978

df78=df[ "Earnings_1978"]
print("Earning_1978 Range: ", str(np.min(df78)), str(np.max(df78)) )
e78m=np.min(df78)
e78x=np.max(df78)
e78d=e78x-e78m
print("Magnitude of range for Earning in 1978 ; ",e78d )

Nondeg Range:  0 1
Magnitude of range for Nondeg ;  1
Earning_1974 Range:  0.0 25862.32
Magnitude of range for Earning in 1974 ;  25862.32
Earning_1975 Range:  0.0 25243.55
Magnitude of range for Earning in 1975 ;  25243.55
Earning_1978 Range:  0.0 25564.67
Magnitude of range for Earning in 1978 ;  25564.67

### Challenge 2 - Percent of Values Above a Value

In [87]:
df78=df["Earnings_1978"]
c=df78.shape[0]
print(c)

15992

In [88]:
# Percentage of earning more than 13496.080  
df78n=df[df["Earnings_1978"]<=13496.080]
a=df78n.shape[0]
print("Number of people earning below 13496.080  : ", a)
df78m=df[df["Earnings_1978"]>=13496.080]
b=df78m.shape[0]
print("Number of people earning above 13496.080 : ",  b)
d=b/c
print("Percentge of people earning more than 13490.080 is   : ", (round(d*100,2)),"%")

Number of people earning below 13496.080  :  6686
Number of people earning above 13496.080 :  9307
Percentge of people earning more than 13490.080 is   :  58.2 %

In [89]:
df.describe()

                Age         Nodeg  Earnings_1974  Earnings_1975  Earnings_1978
count  15992.000000  15992.000000   15992.000000   15992.000000   15992.000000
mean      33.225238      0.295835   14016.800304   13650.803376   14846.659673
std       11.045216      0.456432    9569.795893    9270.403225    9647.391524
min       16.000000      0.000000       0.000000       0.000000       0.000000
25%       24.000000      0.000000    4403.452250    4398.823000    5669.298000
50%       31.000000      0.000000   15123.580000   14557.110000   16421.975000
75%       42.000000      1.000000   23584.180000   22923.737500   25564.670000
max       55.000000      1.000000   25862.320000   25243.550000   25564.670000

### Challenge 3 - Mean of Differences

In [100]:
#SMD = Difference in mean outcome between groups / Standard deviation of outcome among participants
df3 = df[["Nodeg", "Earnings_1974", "Earnings_1975","Earnings_1978"]]
print("Mean of the groupd data: ", df3.mean())
print("Standard deviation of the grouped data :" ,df3.std())
import scipy.stats
mu = df3.mean()
sigma = df3.std()
normz = scipy.stats.norm(mu, sigma)

Mean of the groupd data:  Nodeg                0.295835
Earnings_1974    14016.800304
Earnings_1975    13650.803376
Earnings_1978    14846.659673
dtype: float64
Standard deviation of the grouped data : Nodeg               0.456432
Earnings_1974    9569.795893
Earnings_1975    9270.403225
Earnings_1978    9647.391524
dtype: float64
<scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E8A6A38D00>

### Challenge 4 - Count of Values in Range

In [91]:
#count of values in range(0,1) of Earings in 1974
dfnd.value_counts()

0    11261
1     4731
Name: Nodeg, dtype: int64

In [92]:
#count of values in range (0, 25862.32) of Earings in 1974
df74.value_counts( )

25862.3200    3052
0.0000        1913
25860.3600      24
3136.7860       17
20376.3700      12
              ...
19859.1300       1
687.7026         1
6197.1610        1
2306.0570        1
1733.9510        1
Name: Earnings_1974, Length: 7333, dtype: int64

In [93]:
#count of values in range(0, 25243.55) of Earings in 1975
df75.value_counts()

25243.550    3007
0.000        1748
25241.760      26
2866.306       20
13964.520       9
             ...
8896.113        1
23279.560       1
2359.645        1
16504.980       1
13144.550       1
Name: Earnings_1975, Length: 7615, dtype: int64

In [94]:
#count of values in range (0, 25564.67) of Earings in 1978
df78.value_counts()

25564.670    4145
0.000        2172
2365.840       25
23052.530      10
11526.270       8
             ...
19900.540       1
16268.290       1
8188.083        1
22412.680       1
13671.930       1
Name: Earnings_1978, Length: 7243, dtype: int64

### Challenge 5 - Basic Stats Calculations

In [95]:
#basic stats for Earnings_1978
df78.describe()

count    15992.000000
mean     14846.659673
std       9647.391524
min          0.000000
25%       5669.298000
50%      16421.975000
75%      25564.670000
max      25564.670000
Name: Earnings_1978, dtype: float64

In [96]:
##basic stats for noDeg
dfnd.describe()

count    15992.000000
mean         0.295835
std          0.456432
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          1.000000
Name: Nodeg, dtype: float64

In [97]:
#basic stats for Earnings_1974
df74.describe()

count    15992.000000
mean     14016.800304
std       9569.795893
min          0.000000
25%       4403.452250
50%      15123.580000
75%      23584.180000
max      25862.320000
Name: Earnings_1974, dtype: float64

In [98]:
#basic stats for Earnings_1975
df75.describe()

count    15992.000000
mean     13650.803376
std       9270.403225
min          0.000000
25%       4398.823000
50%      14557.110000
75%      22923.737500
max      25243.550000
Name: Earnings_1975, dtype: float64

### Challenge 6 - Cohort Calculations

Here is some sample code that may be helpful:

```python
#Modification of cohort code to send back a tuple of results. 
#You could do this more manually as well.
def cohort(df_in, cohort1, cohort2, cohort3, earningsColumn):
    df_in["Cohort"] = (df_in[cohort1]+df_in[cohort2]+df_in[cohort3])
    cohortList = df_in["Cohort"].unique()
    i = 0
    resList = []
    while i < cohortList.size:
        tmp = df_in[df_in.Cohort == cohortList[i]]
        histTmp = thinkstats2.Hist(round(tmp[earningsColumn], -3))
        resList.append((histTmp, cohortList[i], tmp[earningsColumn].median()))
        i = i + 1
    return resList
```